{#  
Displays a tree of organzations
#}
{% set show_dataset_count = show_dataset_count or false %}
{% set url_prefix = h.url_for(controller='organization', action='read', id='') %}

{% set sort_reverse = False %}
{% set sort_attr = 'title' %}

{% if c.sort_by_selected %}
    {% if c.sort_by_selected == 'package_count' %}
        {% set sort_reverse = True %}
        {% set sort_attr = 'dataset_count' %}
    {% endif %}
{% endif %}

{% resource 'hierarchy/form.js' %}
<ul class="no-bullet organization-tree" data-organization-tree>
    {% set top_nodes_sorted = top_nodes | sort(reverse=sort_reverse, attribute=sort_attr) %}
    {% for node in top_nodes_sorted recursive %}
    {# {% if show_dataset_count == false or (show_dataset_count == true and node.dataset_count != 0 ) %} #}
    <li id="node_{{ node.name }}" class="organization {{'' if node.dataset_count else 'organization-empty'}}">
        {% if node.children %}
        <span class="js-expand btn-collapse btn-expand"><i class="icon-angle-down"></i></span>
        <span class="js-collapse btn-collapse btn-collapse"><i class="icon-angle-up"></i></span>
        {% endif %}
        <div class="organization-row">
            {% if show_dataset_count == true %}
            <span class="badge dataset-count">{{ node.dataset_count }}</span>&nbsp;
            {% endif %}
            <a href="{{ url_prefix }}{{ node.name }}">{{ node.title }}</a>
        </div>
        {% if node.children %}
        {% set children_sorted = node.children | sort(reverse=sort_reverse, attribute=sort_attr) %}
        <ul class="no-bullet organization-subtree js-collapsed"> {{ loop(children_sorted) }} </ul>
        {# {% endif %} #}
    </li>
    {% endif %}
    {% endfor %}
</ul>
